// Import modules

@import 'modules/dashboard/styles/layout';

// Global properties

body {
  padding-top: 70px;
}
.sidenav {
  width: inherit;
  position: fixed;
  padding-right: 20px;
}
.edit {
  cursor: pointer;
}
tbody tr:hover {
  background: lightgrey !important;
}